In [10]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
my_ser = Series([1,2,3,4],index = ['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
my_index = my_ser.index

In [4]:
my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [5]:
my_index[2]

'C'

In [6]:
my_index[2:]

Index([u'C', u'D'], dtype='object')

In [7]:
my_index[0]

'A'

In [11]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [12]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [14]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=9)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    9.0
dtype: float64

In [15]:
ser3 = Series(['USA','Mexico','Canada'],index = [0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [17]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [18]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [19]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns =['col1','col2','col3','col4','col5'])

In [20]:
dframe

       col1      col2      col3      col4      col5
A  0.334216 -0.475408  1.688177 -0.069990  0.590154
B  0.339119  0.422469  0.381201 -0.520983  2.315341
D  0.471318 -0.232002  0.309707  0.524812  1.117640
E -0.245250  0.305527 -1.089005 -0.570400  0.174546
F  2.161611  0.627809  1.309722  0.280125 -1.008572

In [22]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.334216 -0.475408  1.688177 -0.069990  0.590154
B  0.339119  0.422469  0.381201 -0.520983  2.315341
C       NaN       NaN       NaN       NaN       NaN
D  0.471318 -0.232002  0.309707  0.524812  1.117640
E -0.245250  0.305527 -1.089005 -0.570400  0.174546
F  2.161611  0.627809  1.309722  0.280125 -1.008572

In [23]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [25]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.334216 -0.475408  1.688177 -0.069990  0.590154   NaN
B  0.339119  0.422469  0.381201 -0.520983  2.315341   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.471318 -0.232002  0.309707  0.524812  1.117640   NaN
E -0.245250  0.305527 -1.089005 -0.570400  0.174546   NaN
F  2.161611  0.627809  1.309722  0.280125 -1.008572   NaN

In [26]:
dframe

       col1      col2      col3      col4      col5
A  0.334216 -0.475408  1.688177 -0.069990  0.590154
B  0.339119  0.422469  0.381201 -0.520983  2.315341
D  0.471318 -0.232002  0.309707  0.524812  1.117640
E -0.245250  0.305527 -1.089005 -0.570400  0.174546
F  2.161611  0.627809  1.309722  0.280125 -1.008572

In [28]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.334216 -0.475408  1.688177 -0.069990  0.590154   NaN
B  0.339119  0.422469  0.381201 -0.520983  2.315341   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.471318 -0.232002  0.309707  0.524812  1.117640   NaN
E -0.245250  0.305527 -1.089005 -0.570400  0.174546   NaN
F  2.161611  0.627809  1.309722  0.280125 -1.008572   NaN