In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series([8700000,4300000, 3000000, 2100000,400000], index = ["USSR","Germany","China","Japan","USA"])

In [8]:
ww2_cas['USA']

400000

In [9]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [10]:
'USSR' in ww2_cas

True

In [11]:
ww2_dict = ww2_cas.to_dict()

In [12]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [13]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [15]:
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [16]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [23]:
obj2 = Series(ww2_dict,index = countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [24]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [26]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [27]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [28]:
obj2.name = "World War 2 Casualties"

In [29]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [30]:
obj2.index.name = 'Countries'

In [31]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64